.mf{

    display: flex;
    flex-direction: column;

    &__item{
        display: flex;
        height: 50px;
        align-items: center;
        background: #f3f5f6;
        margin-bottom: 6px;
        padding-right: 6px;
    }

    &__image{
        width: 50px;
        margin-right: 6px;
    }

    &__title{
        flex-grow: 1;
    }

    &__buttons{

    }

    &__button{

    }
}