<div class="custom-form-wrap">

    <fieldset class="form-field form-required">
        {$form['project']->label}
        <div>
            {$form['project']->control}
        </div>
    </fieldset>

    <fieldset class="form-field form-required">
        {$form['comment']->label}
        <div>
            {$form['comment']->control}
        </div>
    </fieldset>
        
</div>
