{block loader}
<div class="overlay">    
    <div class="overlay__content">
        <div class="loadingio-spinner-bars-ozyy6tuaft">
            <div class="ldio-olf1coik1xp">
                <div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>
</div>
{/block}